extends layout

block content
  h1= title
  p You added a user #{bod.name}
  p With _id : #{es._id}
  a(href='/') Add another new user
  p .
  p .
  p .
  p .
  p .
  p .
  p .
  p .
  p .
  p .
  p .
  p .
  p . 
  p .
  p .
  a(href='/newusers?id=#{es._id}') Delete the user that was just added